# Idea
out/
.idea_modules/
atlassian-ide-plugin.xml
*.log

### Maven template
target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

!/.mvn/wrapper/maven-wrapper.jar
/.idea/
Буде вилучено lib/
Буде вилучено src/main/main.iml
!/target/report-1.0-SNAPSHOT.jar
